---
title:
---
<!DOCTYPE html>
<html lang="en" class="bg-navy white">
<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title><% if(title){ %><%= title %> – <% } %>iampeterbanjo | blog</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/css/tachyons.css" />
</head>
<body>
	<header class="w-100">
		<% if(page.url == '/'){ %>
			<div class="vh-100 dt w-100 tc bg-blue white cover">
				<div class="dtc v-mid">
					<header class="white">
						<img class="w4 br-100 pa3" src="/images/iampeterbanjo-w400.jpg" />
						<h2 class="f6 fw1 ttu tracked mb2 lh-title">Peter Banjo</h2>
						<h3 class="f6 fw1 lh-title">Building on and for the web</h3>
					</header>
					<h1 class="f-headline-l fw1 lh-solid i">
						<span class="black">Hello,</span> <span class="white">you.</span>
					</h1>
					<%- include nav.ejs %>
				</div>
			</div>
		<% } %>
	</header>
	<main class="w-100">
		<%- content %>
	</main>
	<footer class="ph3 ph5-ns pv5 pv6-ns bg-black">
		<div class="measure-wide center white">
			<p> Made with sleep </p>
		</div>
	</footer>
</body>
</html>
