---
title:
---
<!DOCTYPE html>
<html lang="en" class="bg-navy white">
<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="google-site-verification" content="OB-R_RuxLlky1y8Z_LAYn2075JPx9lH1PYVmkVN0g3Q" />

	<title><% if(title){ %><%= title %> – <% } %>iampeterbanjo | blog</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/css/tachyons.css" />
</head>
<body>
	<header class="w-100">
		<% if(page.url == '/'){ %>
			<div class="vh-100 dt w-100 tc bg-blue white cover">
				<div class="dtc v-mid">
					<header class="white">
						<img class="w4 br-100 pa3" src="/images/iampeterbanjo-w400.jpg" />
						<h2 class="f6 fw1 ttu tracked mb2 lh-title">Peter Banjo</h2>
						<h3 class="f6 fw1 lh-title">Building on and for the web</h3>
					</header>
					<h1 class="f-headline-l fw1 lh-solid i">
						<span class="black">Hello,</span> <span class="white">you.</span>
					</h1>
					<nav class="avenir f4">
						<%- include nav.ejs %>
					</nav>
				</div>
			</div>
		<% } %>
		<% if(page.url != '/'){ %>
			<nav class="pa3 pa4-ns b bb b--white">
					<a class="link dim white b f1 f-headline-ns tc db mb3 mb4-ns serif" href="/blog" title="Home">Blog</a>
					<div class="tc pb3">
						<%- include nav.ejs %>
					</div>
				</nav>
		<% } %>
	</header>
	<main class="w-100 v-mid">
		<%- content %>
	</main>
	<footer class="ph3 ph5-ns pv5 pv6-ns bg-black">
		<div class="measure-wide center white">
			<p> Made with sleep </p>
		</div>
	</footer>
</body>
</html>
