---
layout: default.ejs
---
<section class="">
	<article class="bt b--black-10 ph3 ph5-ns pv4 pv5-ns">
		<header>
			<h1 class="title f1 sans-serif">
				<%= title %>
			</h1>
		</header>
		<section class="f4 measure lh-copy consolas">
			<%- content %>
		</section>
	</article>
</section>
