---
layout: default.ejs
---
<article class="measure-wide center">
	<header>
		<h1 class="title f2 lh-title sans-serif">
			<%= title %>
		</h1>
		<h2 class="lh-title f3"><%= description %></h2>
	</header>
	<section class="f4 measure lh-copy">
		<%- content %>
	</section>
</article>
