---
layout: default.ejs
---
<section class="bg-light-yellow dark-gray">
	<article class="bt b--black-10 black-70 ph3 ph5-ns pv4 pv5-ns">
		<header>
			<h1 class="title">
				<%= title %>
			</h1>
		</header>
		<section class="f5 measure lh-copy">
			<%- content %>
		</section>
	</article>
</section>
