[submodule "packages/hapi-hodor"]
	path = packages/hapi-hodor
	url = git@github.com:iampeterbanjo/hapi-hodor.git
[submodule "packages/data"]
	path = packages/data
	url = git@github.com:iampeterbanjo/iampeterbanjo.com-data.git
[submodule "packages/env"]
	path = packages/env
	url = git@github.com:iampeterbanjo/iampeterbanjo.com-env.git
[submodule "packages/models"]
	path = packages/models
	url = git@github.com:iampeterbanjo/iampeterbanjo.com-models.git
