@charset "utf-8";

@import './variables.scss';
@import './node_modules/tachyons-sass/tachyons.scss';
@import './node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import './node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import './node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

a {
	@extend .link;
	@extend .black;

	&:not(.btn) {
		background: linear-gradient(90deg, $black-70 66%, transparent 0) repeat-x;
		background-size: 0.2em 2px;
		background-position: 0 1em;
	}

	&:visited {
		background: none;
	}

	&[rel='next'],
	&[rel='prev'] {
		background-position: 0 1.5em;
	}
}

blockquote {
	@extend .f3;
	@extend .pl4;
	font-style: italic;
	margin-left: 0;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background-color: black;
		width: 4px;
	}
}

.h-100 {
	min-height: 100vh;
}

.tracks li a {
	overflow: hidden;
}

.tracks li img {
	position: absolute;
}

// icons

.svg-icon {
	stroke: transparent;
}

.github {
	fill: $black-70;
}

.twitter {
	fill: $twitter-blue;
}

.lastfm-red {
	color: $lastfm-red;
}

.spotify-green {
	color: $spotify-green;
}
