---
title:
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title><% if(title){ %><%= title %> – <% } %>iampeterbanjo | blog</title>
	<link rel="stylesheet" type="text/css" href="/public/build/assets/styles/main.css" />
	<link rel="stylesheet" type="text/css" href="/public/build/assets/styles/tachyons.css" />
</head>
<body>
	<div class="main">
		<header>
			<% if(page.url == '/'){ %><h1 class="title"><% } else { %><p class="title"><% } %>
				<a href="/">Blog</a>
			<% if(page.url == '/'){ %></h1><% } else { %></p><% } %>
		</header>
		<section class="content">
			<%- content %>
		</section>
		<footer>
			<p> Made with sleep </p>
		</footer>
	</div>
</body>
</html>
