@import '../../node_modules/tachyons-sass/tachyons';

html {
  min-height: 90vh;
}

a {
  color: $white;
  text-decoration: underline;
}

a:visited {
  color: $yellow;
}

p {
  font-family: $sans-serif;
  line-height: 1.5;
}
