@import '../../node_modules/tachyons-sass/tachyons';
@import './prism-atom-dark';

mark {
  background-color: transparent;
  border-bottom: 1px $gold dotted;
  color: $white;
}

html {
  min-height: 90vh;
}

main {
  min-height: 65vh;
}

a {
  color: $white;
  text-decoration: underline;
}

a:visited {
  color: $yellow;
}

nav, p {
  font-family: $sans-serif;
}

p {
  line-height: 1.5;
}
