---
layout: default.ejs
permalink: /
---
<section class="w-100">
	<article class="bt b--black-10 bg-light-yellow black-70 ph3 ph5-ns pv4 pv5-ns">
		<header>
			<img src="/images/iampeterbanjo-w400.jpg" />
			<h2 class="mt0 f5 f3-ns">Hello, world!</h2>
		</header>
		<p class="f5 measure lh-copy">
			At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
			atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
			similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
			Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
			eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
			assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum
			necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
			Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
			consequatur aut perferendis doloribus asperiores repellat.
		</p>
	</article>
</section>
