---
layout: default.ejs
permalink: /
---
<section class="w-100">
	<article class="athelas">
		<div class="center measure-wide f5 pv5 lh-copy ph2">
			<h1 class="f1 lh-title">Blah blah bacon</h1>
			<p>
				aoeuoneunoteh nuoeu onut oensu osnetuhonseu.
			</p>
			<p>
				anoanoeu oaenu oneunoeun oeu.
			</p>
		</div>
	</article>
</section>
