---
layout: default.ejs
permalink: /
---
<section class="w-100">
	<article class="athelas">
		<div class="center measure-wide f5 pv5 ph2">
			<h1 class="f1 lh-title f-subheadline">Blog</h1>
			<p>
				These thoughts and opinions are my own. Please let me know if I have any facts wrong.
			</p>
			<p>
				<a href="/blog">Read more.</a>
			</p>
		</div>
	</article>
</section>
