---
layout: default.ejs
permalink: /blog/
title: hello
---
<section class="measure-wide center">
  <ul class="list pl0">
    <% collections.post.forEach((post) => { %>
      <li class="avenir pa3 pa4-ns <% if(page.url == post.url) { %> active <% } %>">
        <a href="<%= post.url %>" class="link underline-hover">
          <span class="title db f3 mb1">
            <%= post.data.title %>
          </span>
          <span class="title f5 db lh-copy measure">
            <%= post.data.subtitle %>
          </span>
          <% if (post.data.date) { %>
            <span class="date">
              <%= post.data.date %>
            </span>
          <% } %>
        </a>
      </li>
    <% }); %>
  </ul>
</section>
